body {
  font-family: "Fredoka One", cursive;
  background-color: #e8f1ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.main-section {
  background: url("../backgroundimg.jpg");
  background-size: cover;
  min-height: 500px;
  min-width: 1500px;
  transition: ease-out all 0.5s;
  border: solid 5px #5d9fff;
  padding-bottom: 16px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.main-section .img-btn {
  margin: 8px;
  border: solid #5d9fff;
  border-radius: 40px;
  padding-left: 0;
  padding-right: 0;
  background-image: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}
.main-section .bodyparts-btn {
  display: flex;
  justify-content: center;
}

.center-doll {
  position: relative;
  min-width: 600px;
}
.center-doll h1 span {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 2.5rem;
  color: #66a6ff;
  line-height: 150%;
}
.center-doll h1 span.middle {
  padding-top: 32px;
}
.center-doll #btn-random {
  font-size: 1.8rem;
  border-radius: 15px;
  padding: 8px 16px;
  background-color: #6bbbff;
  color: white;
}
.center-doll .next-prev-btns {
  position: relative;
  height: 83%;
}
.center-doll .next-prev-btns .btn-control {
  position: absolute;
  padding: 5px 10px 5px 10px;
  border: solid white;
  border-radius: 25px;
  color: white;
  background-color: #6bbbff;
  transition: ease-in;
}
.center-doll .next-prev-btns #nexthair,
.center-doll .next-prev-btns #nextface,
.center-doll .next-prev-btns #nextbody,
.center-doll .next-prev-btns #nextshoes {
  right: 6%;
}
.center-doll .next-prev-btns #prevhair,
.center-doll .next-prev-btns #prevface,
.center-doll .next-prev-btns #prevbody,
.center-doll .next-prev-btns #prevshoes {
  left: 6%;
}
.center-doll .next-prev-btns #nexthair,
.center-doll .next-prev-btns #prevhair {
  top: 5%;
}
.center-doll .next-prev-btns #nextface,
.center-doll .next-prev-btns #prevface {
  top: 18%;
}
.center-doll .next-prev-btns #nextbody,
.center-doll .next-prev-btns #prevbody {
  top: 40%;
}
.center-doll .next-prev-btns #nextshoes,
.center-doll .next-prev-btns #prevshoes {
  top: 80%;
}
.center-doll #btn-download {
  font-size: 1.8rem;
  border-radius: 15px;
  padding: 13px;
  background-color: #6bbbff;
  color: white;
  position: absolute;
  bottom: 1%;
  left: 34%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

#backhair {
  background-image: url("../backhair/backhair1.png");
}

#fronthair {
  background-image: url("../fronthair/fronthair1.png");
}

#face {
  background-image: url("../face/face1.png");
}

#body {
  background-image: url("../body/body1.png");
}

#shoes {
  background-image: url("../shoes/shoes1.png");
}

#backhair,
#fronthair,
#face,
#body,
#shoes {
  position: absolute;
  height: 750px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn:hover {
  background-color: #5d9fff;
  border-color: #5d9fff;
  transform: scale(1.1);
  color: white;
}

img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

footer {
  background-color: #6bbbff;
  min-height: 50px;
  display: flex;
  min-width: 1500px;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
footer a {
  color: white;
  margin-right: 2rem;
}
footer a#mail {
  margin-right: 0;
}
footer a:hover {
  transform: scale(1.5);
  color: white !important;
}

@media all and (max-width: 1800px) {
  main {
    transform: scale(0.8);
  }

  body {
    transform: translate(0, -10%);
  }
}
@media all and (max-width: 1600px) {
  main {
    transform: scale(0.7);
    margin-right: 20%;
  }

  body {
    transform: translate(0, -15%);
  }
}
@media all and (max-width: 1300px) {
  main {
    transform: scale(0.6);
  }

  body {
    transform: translate(0, -20%);
  }
}/*# sourceMappingURL=main.css.map */