body{
    font-family: 'Fredoka One', cursive;
}



.main-section{
    background: url("backgroundimg.jpg");
    background-size: cover;
    min-height: 500px;
    width: 1800px;
    margin:0 auto;
    transition: ease-out all 0.5s;
}


.body-btn{
    display: flex;
    justify-content: center;
}

h1{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 3rem;
    color: #66a6ff;
}

#backhair{
    background-image: url('backhair/backhair1.png');
}

#fronthair{
    background-image: url('fronthair/fronthair1.png');

}
#face{
    background-image: url('face/face1.png');
}
#body{
    background-image: url('body/body1.png');
}
#shoes{
    background-image: url('shoes/shoes1.png');
}
#backhair, #fronthair, #face, #body, #shoes{
    position: absolute;
    top:0;
    height:924px;
    width:600px;
    background-repeat: no-repeat;
    background-size: contain;
}

.center-doll{
    position: relative;
    min-width: 600px;
}

.btn-control{
    position: absolute;
    padding: 5px 10px 5px 10px;
    border: solid white;
    border-radius: 25px;
    color:white;
    background-color:#6BBBFF;
    transition: ease-in;
}

.btn-random{
    position: absolute;
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 13px;
    bottom: 1%;
    left:34%;
    background-color:#6BBBFF;
    color:white;
}

.btn-random:hover, .btn-control:hover{
    background-color:#5D9FFF;
    border-color: #5D9FFF;
    transform: scale(1.1);
    color: white;
}


.next-prev-btns{
    position: relative;
    height: 100%;
}

img:hover{
    cursor: pointer;
    transform: scale(1.05)
}

#nexthair, #nextface, #nextbody, #nextshoes{
    right:6%;
}

#prevhair, #prevface, #prevbody, #prevshoes{
    left:6%;
    
}

#nexthair, #prevhair{
    top:10%;
}

#nextface, #prevface{
    top:20%;
}

#nextbody, #prevbody{
    top:35%;
}

#nextshoes, #prevshoes{
    top: 70%;
}



.img-btn{
    margin: 8px;
    border: solid #5D9FFF;
    border-radius: 40px;
    padding-left:0;
    padding-right:0;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}


@media all and (max-width: 1800px){
    .main-section{
        transform: scale(0.8);
    }
    body{
        transform: translate(0,-10%);
    }
}


@media all and (max-width: 1600px){
    .main-section{
        transform: scale(0.7);
        margin-right: 10%;
    }
    body{
        transform: translate(0,-15%);
    }
}

@media all and (max-width: 1300px){
    .main-section{
        transform: scale(0.6);
    }
    body{
        transform: translate(0,-20%);
    }
}

